.dart_tool/
.packages
.pub/
build/
coverage/
*.log
*.class
*.pyc
*.swp
.DS_Store
.idea/
.vscode/
*.iml
*.ipr
*.iws

android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/**/key.properties

ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/App.framework/
ios/Flutter/engine/
ios/Flutter/flutter_assets/
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/
ios/.symlinks/

macos/Flutter/ephemeral/
macos/Pods/

windows/flutter/ephemeral/

linux/flutter/ephemeral/

web/.dart_tool/
